.converter-container {
    max-width: fit-content;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    text-align: center;
    color: #000;
}

.converter-container h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.converter {
    margin-bottom: 20px;
}

.converter h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    width: 40%;
}

.input-container label {
    font-weight: bold;
    margin-bottom: 5px;
    color: inherit;
}

.input-container input,
.input-container select {
    width: 100%;
    height: 40px;
    font-size: 1.2em;
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.8);
    color: #000;
}

.switch-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 1.5em;
    margin-top: 35px;
}

.switch-button {
    transform: rotate(0deg);
}

/* Dark mode styles */
body.dark .converter-container {
    background: rgba(30, 30, 30, 0.9);
    color: #fff;
}

body.dark .converter-container input,
body.dark .converter-container select {
    background: rgba(70, 70, 70, 0.8);
    color: #fff;
}

body.dark .switch-container {
    background-color: #555;
}

/* Mobile view adjustments */
@media (max-width: 768px) {
    .converter-container {
        padding: 10px;
    }

    .input-group {
        flex-direction: column;
        gap: 10px;
    }

    .input-container {
        width: 100%;
        align-items: center;
    }

    .switch-container {
        margin-top: 0;
    }

    .switch-button {
        margin: 0px;
    }
}
