.side-menu {
  width: 60px;
  padding: 20px 10px;
  background-color: #007bff;
  transition: width 0.3s;
}

.side-menu.visible {
  width: 60px;
}

.side-menu.hidden {
  display: none;
}

.side-menu ul {
  list-style: none;
  padding: 0;
  flex-grow: 1;
}

.side-menu ul li {
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-menu ul li a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}

.side-menu ul li a svg {
  font-size: 1.5em;
  padding: 10px 0;
}

.theme-toggle-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react-toggle {
  display: flex;
  align-items: center;
}

.react-toggle-track {
  background: white !important;
  border-radius: 30px;
}

.react-toggle-track-check,
.react-toggle-track-x {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.react-toggle--checked .react-toggle-track {
  background: #007bff !important;
}

.react-toggle--checked .react-toggle-thumb {
  border-color: transparent !important;
  box-shadow: none !important;
}

.react-toggle-thumb {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
}

.toggle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
}

.theme-toggle-text {
  font-size: 0.9em;
  margin-left: 10px;
}

.app.light .theme-toggle-text {
  color: #fff;
}

.app.dark .theme-toggle-text {
  color: #fff;
}

.app.dark .toggle-icon {
  color: #fff;
}

.menu-link {
  color: white;
  text-decoration: none;
}

.app.dark .menu-link {
  color: #fff;
}

.app.dark .side-menu.visible {
  background-color: #444;
}
