body {
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.app {
  display: flex;
  height: 100vh;
}

.app.light {
  background-color: #fff;
  color: #000;
}

.app.dark {
  background-color: rgba(30, 30, 30, 0.9);
  color: #fff;
}

.content {
  flex: 1;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .content {
    padding: 0px;
  }
}

.collapse-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.collapse-button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .collapse-button {
    display: block;
  }
}

.header {
  padding: 20px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: row;
}

.app.dark .header {
  background-color: rgba(30, 30, 30, 0.9);
}

.header h1 {
  margin: auto 0;
  margin-left: 15px;
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 20px;
  }
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.menu-toggle {
  width: 5%;
  height: 100%;
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 1.5em;
  transition: color 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #fff;
  min-width: 45px
}

.app.dark .menu-toggle {
  color: #fff;
  background-color: #444;
}